@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    font-family: "Source Code Pro", serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

*::-webkit-scrollbar {
    display: none;
}